.announcement-bar-section {
    background: #f9ec31;
}

.announcement-bar, .announcement-bar-section, .announcement-bar__message, .announcement-bar__message p {
    color: #000 !important;
}

.header {
    text-align:center;
}

.collection .title {
    text-align: center;
    text-transform: uppercase;
}


.collection  .card-title  {
    font-size: 16px;
}


 .header__inline-menu .header__menu-item {
    color:white;
 }

.footer .list-menu__item  {
color:white;
}

.announcement-bar__message p {
    margin:0px;
}

  .announcement-bar  .page-width  {
   background: #f9ec31
 }


 


