.announcement-bar-section {
    background: #f9ec31;
}

.header {
    text-align:center;
}

.collection .title {
    text-align: center;
    text-transform: uppercase;
}


.collection  .card-title  {
    font-size: 16px;
}


 .header__inline-menu .header__menu-item {
    color:white;
 }

.footer .list-menu__item  {
color:white;
}